<html>
<head>
<title>관리자</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<style type="text/css">
body,td,th,pre,textarea,select {font-family: verdana, tahoma, 굴림, 굴림체; font-size:9pt}
</style>


<table width="100%" cellspacing="0" cellpadding="5">
<tr>
	<td style="font-size:24px;font-weight:bold;">사전등록 정보</td>
</tr>
<tr>
	<form  method="get" id="setConfigForm">
	<td>
		<table cellspacing="1" cellpadding="5" style="background-color:#000000; width:700px">
		<tr>
			<td style="background-color:#808080; color:#FFFFFF;font-weight:bold;width:160px">
				전체 등록수
			</td>
			<td style="background-color:#E8E8E8;">
				<?=$totalcount?> <input type=button value="초기화" id="resetCount">
			</td>
		</tr>
		<tr>
			<td style="background-color:#808080; color:#FFFFFF;font-weight:bold;width:160px">
				등록 가능수
			</td>
			<td style="background-color:#E8E8E8;">
				<input type="text" name="max_count" id="max_count" value="<?=$limitcount?>">
			</td>
		</tr>
		</table>
	</td>

</tr>
</table>

<table width="100%" cellspacing="0" cellpadding="5">
<tr>
	<td style="font-size:24px;font-weight:bold;">H3 info</td>
</tr>
<tr>

	<td>
		<table cellspacing="1" cellpadding="5" style="background-color:#000000; width:700px">
		
<?php foreach($h3info as $key=>$value):?>
	<?php if ($key != 'metadata'): ?>
		<tr>
			<td style="background-color:#808080; color:#FFFFFF;font-weight:bold;width:160px">
				<?=$key?>
			</td>
			<td style="background-color:#E8E8E8;">
				<?php if ($key == 'REG_STARTS_AT' or $key == 'REG_ENDS_AT'): ?>
					<input type="text" name="<?=$key?>" id="<?=$key?>" value="<?=$value?>"> <?=$today?>
				<?php else: ?>
  					<?=$value?>
				<?php endif; ?>
			</td>
		</tr>
	<?php endif; ?>		
<?php endforeach;?>		

		<tr>
		<td align=center colspan=2 style="background-color:white; color:#FFFFFF;font-weight:bold;">
		<input type=submit value=" 저 장 "> 
		</td>
		</table>
	</td>
	</form>
</tr>
</table>


<script type="text/javascript" src="<?=$base_url?>/js/jquery-1.3.2.min.js"></script>

<script type="text/javascript">
(function($){

var $setConfigForm = $('#setConfigForm');

if($setConfigForm.length > 0){
	var $REG_STARTS_AT = $('#REG_STARTS_AT'),$REG_ENDS_AT = $('#REG_ENDS_AT'),$MAX_COUNT = $('#max_count');
		
	var setConfigData = function(REG_STARTS_AT,REG_ENDS_AT,MAX_COUNT){
		$.ajax({
			url			: '/2012/h3api/setconfig/',
			dataType   	: 'json',
			type	   	: 'get',
			contentType	: 'application/x-www-form-urlencoded; charset=UTF-8',
			timeout		: 3000,
			data		: {REG_STARTS_AT: REG_STARTS_AT,REG_ENDS_AT: REG_ENDS_AT,MAX_COUNT:MAX_COUNT},
			success:function(r) {
				if(r.code != 0){
					alert('ErrorCode : '+r.code+', ErrorText : ' + r.code_text);
				} else {
					alert('수정 성공');
				}
			},
			error: function(XMLHttpRequest,status){
			   	alert('네트워크 오류');
			}
		});		
	};
	
	$setConfigForm.submit(function(){
		setConfigData($REG_STARTS_AT.val(),$REG_ENDS_AT.val(),$MAX_COUNT.val());
		return false;
	});

}

$('#resetCount').click(function(){
	$.ajax({
		url			: '/2012/h3api/resetcount/',
		dataType   	: 'json',
		type	   	: 'get',
		contentType	: 'application/x-www-form-urlencoded; charset=UTF-8',
		timeout		: 3000,

		success:function(r) {
			if(r.code != 0){
				alert('ErrorCode : '+r.code+', ErrorText : ' + r.code_text);
			} else {
				alert('초기화 성공');
			}
		},
		error: function(XMLHttpRequest,status){
		   	alert('네트워크 오류');
		}
	});
});

})(jQuery);
</script>
	
</body>
</html>
